.login-card, .register-card {
  max-width: 300px;
  margin: 0 auto;
}

.love-message {
  margin-top: 64px;
  text-align: center;
}
.login-card{
  .btn{
    width: 90%;
  }
  .social{
    text-align: center;
  }
}
//
//
